.body {
	margin: 60px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 60px;
}

.border{
	/* font-size: 1.6rem; */
	/* display: grid;
	place-items: center;
	/* min-height: 200px; */
	/* border: 8px solid;
	padding: 1rem; */ 
	border: 2px solid black
}

.full {
	border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
}